/* REGOLE GENERALI*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.conteiner{
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.row {
    display: flex;

}

img {
    height: 100%;
    width: 100%;
}

/******************* 
REGOLE header
*******************/

.conteiner-main {
    padding: 50px 50px 0;
}

.row-header {
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
}

.arrow {
    padding-left: 10px;
    color: white;
}

.name-header {
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    opacity: 0.7;
    padding: 6px;
    border-radius: 5px;
}

.fa-brands {
    padding-right: 7px;
}

/******************* 
REGOLE MAIN
*******************/

.img-zoomer {
    width: 220px;
    height: 120px;
}

.col {
    padding-right: 5px;
    padding-bottom: 13px;
    position: relative;
}

.name {
    background-color: white;
    color: rgb(0, 0, 0);
    opacity: 0.5;
    position: absolute;
    top: 97px;
    padding: 3px;
    line-height: 100%;
}

.row-main {
    flex-wrap: wrap;
}

.main-conteiner {
    padding-left: 50px;
}


/***************
 REGOLE FOOTER
 ***************/


footer {
    background-color: rgb(45, 45, 45);
    padding: 15px 0px;
}

.row-footer {

}

.start-foot {
    display: flex; 
    justify-content: space-between;
}

.col-footer {
    padding: 0 15px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.col-footer .icon {
    font-size: 26px;
}

.end-meet {
    background-color: gray;
    opacity: 0.5;
    color: red;

}